<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
</head>
<body>
  <%= flash[:error] unless flash[:error].nil? %>
<% if logged_in? %>
<%= current_user.username %>
<form action="<%= session_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Sign Out">
</form>
<hr>
<% end %>
<%= yield %>

</body>
</html>
